fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
httpx
langchain_openai
python-multipart
openai
langchain
langchain-community
redis
celery
langgraph
langgraph-checkpoint-redis
beautifulsoup4
